body {
    background-color: black!important;
    font-family: "Verdana", sans-serif;
}

li {
    padding-left: 10%!important;
}

.hr {
    background-color: #4c6177;
}

.about-header {
    text-align: center;
    font-size: 200%;
    font-family: "Verdana", sans-serif;
    color: silver;
    padding-top: 1%;
}

.img-no-logo {
    border: 5px solid #98aabd!important;
  }

h1 {
    font-size: 120%;
    color: silver;
}

p {
    font-size: 120%;
    color: silver;
}

q {
    color: silver;
    font-size: 125%;
}

.jumbotron {
    background-color: transparent!important;
}

.about-jumbo {
    height: 90%;
}

li {
    color: silver;
    font-size: 110%;
}

.btn {
    color: #98aabd!important;
    border-color: #98aabd!important;
    font-family: Verdana, sans-serif;
    padding-top: 5%;
}

.btn:hover {
    color: #4c6177!important;
    border-color: #4c6177!important;
    background-color: transparent!important;
}

.pro-btn {
    width: 80%;
}

.gal-btn {
    width: 80%;
}

.book-now {
    background-image: linear-gradient( #4c6177 50%, #4c6177);
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 15px 15px;
}

.booking {
    text-align: center;
    color: silver!important;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.video-content {
    color: silver;
    text-align: end;
    text-decoration: none;
}

.video-content:hover {
    color: #98aabd;
    
}

.gallery {
    padding-bottom: 2em;
}

.contact-us {
    opacity: 0.4;
    padding-bottom: 4em;
}

.get-in-touch {
    padding-bottom: 1em;
}

.get-in-touch-p {
    padding-bottom: 2em;
}

.headquarters {
    padding-bottom: 1em;
    color: silver;
}

.headquarters-p {
    color: silver;
}

.headquarters-mail {
    color: silver;
    padding-bottom: 2em;
}

.socials {
    color: silver;
    padding-bottom: 1em;
}

.fa {
    padding: 1%;
    font-size: 40px;
    width: 40px;
    text-align: center;
    margin: auto;
    text-decoration: none;
    color: #98aabd;
    padding-bottom: 2em;
  }

  .fa:hover {
      text-decoration: none;
      color: #4c6177;
      transform: translateY(-10%)!important;
  }

  .get-in-touch-form {
      color: silver;
      padding-bottom: 2em;
      text-align: center;
      
  }

  form {
    padding-left:25px;
    padding-right:25px;
    padding-top:60px;
    margin: 12px auto;
    border: 2px solid #add8e6;
    border-radius: 20px;
    position:relative;
    z-index:1;
  }
  
  form > div{
    position:absolute;
    top:0;
    left:50%;
    padding:0 20px;
    transform:translate(-50%,-50%);
    background-color:black;
    border: 2px solid #98aabd;
    border-radius: 20px;
    text-align:center;
  }
  
  form > div > img{
    filter:invert(1);
    width:100px;
  }
  
  form > input,
  form > textarea {
    padding: 12px;
    margin: 12px auto;
    border: 1px solid #98aabd;
    color: silver;
    background-color: transparent;
    border-radius: 4px;
    display: block;
    width: 80%;
    text-decoration: none;
  }
  
  form > textarea{
    height:100px;
    resize:none;
  }
  
  form > input[type="submit"] {
    max-width: 20vw;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    transition: 0.35s;
  }
  
  form > input[type="submit"]:hover {
    background-color: transparent;
  }