body {
    background-color: black!important;
}
.las {
    font-size: 700%!important;
    color: #add8e6!important;   
}
.las:hover {
    color: #00cdbe!important;
    transform: translateY(-10%);
}

.jumbo {
    background-color: transparent!important;
}

.record-section {
    text-align: center;
    font-family: "Verdana", sans-serif!important;
    color: silver;
}

.btn {
    color: #add8e6!important;
    border-color: #add8e6!important;
    font-family: Verdana, sans-serif;
    padding-top: 5%;
}

.btn:hover {
    color: #00cdbe!important;
    border-color: #00cdbe!important;
    background-color: transparent!important;
}

.hr {
    background-color: #00cdbe;
}

ol {
 font-size: 250%;
 font-family: "Verdana", sans-serif;
 text-align: center;
}
ol:hover {
    color: #00cdbe;
}

li {
    padding-left: 10%!important;
}
li:hover {
    color: #00cdbe;
}

.book-now {
    border: thin!important;
    border-color: #add8e6!important;
    background-color: transparent!important;
    color: silver;
    height: 100%;
}

.contact-today {
    background-color: transparent!important;
    color: silver;
    height: 100%;
    text-align: center;
    font-family: "Verdana", sans-serif;
}

.fa {
    padding: 2%;
    font-size: 50px;
    width: 50px;
    text-align: center;
    margin: auto;
    text-decoration: none;
    color: #add8e6;
  }

  .fa:hover {
      text-decoration: none;
      color: #00cdbe;
      transform: translateY(-10%)!important;
  }

.contact-hr {
    background-color: #00cdbe;
    width: 90%;
}