html, body {
    overflow-x: hidden;
}

.foot-contain {
    margin-bottom: 1em;
}

h5 {
    padding-left: 1em;
}

.foot-links {
    color: silver!important;
    font-family: "Verdana", sans-serif;
    
}

.foot-links:hover {
    text-decoration: none!important;
    color: #98aabd!important;
}

.foot-info {
    color: silver;
    font-family: "Verdana", sans-serif;
    padding-left: 1em;
    
}

.nav-top {
    /* background-image: linear-gradient(to right, #36454f, #36454f)!important; */
    font-size: 120%!important;
    font-family: "Verdana", sans-serif;
    margin-bottom: 2em;
}


.nav-item {
    color: silver!important;
}


.nav-link {
    color: silver!important;
}

.phone {
    color: #4c6177;
}

.phone:hover {
    color: #98aabd;
}
 
 
