html, body {
    overflow-x: hidden;
}

.foot-links {
    color: silver!important;
    font-family: "Verdana", sans-serif;
    padding-bottom: 1em;
}

.foot-links:hover {
    text-decoration: none!important;
    color: #98aabd!important;
}

.foot-info {
    color: silver;
    font-family: "Verdana", sans-serif;
    
}

.nav-top {
    background-image: linear-gradient(to right, #36454f, #36454f)!important;
    font-size: 120%!important;
    font-family: "Verdana", sans-serif;
}


.nav-item {
    color: silver!important;
}


.nav-link {
    color: silver!important;
}

 
 
