html, body {
    overflow-x: hidden;
}

.foot-links {
    color: silver!important;
    font-family: "Verdana", sans-serif;
    padding-bottom: 1em;
}

.foot-links:hover {
    text-decoration: none!important;
    color: #add8e6!important;
}

.foot-info {
    color: silver;
    font-family: "Verdana", sans-serif;
    
}

.nav-top {
    /* background-image: linear-gradient(to right, black, black); */
    
    font-size: 120%!important;
    font-family: "Verdana", sans-serif;
    /* left: 5%; */
    /* border-radius: 25%; */
    
}

.nav-item {
    color: silver!important;
    display: inline-block!important;
}


.nav-link {
    color: silver!important;
}

.nav ul {
    list-style: none!important;
    text-align: center!important;
 }
 
 
